<div id="book-view-bar">
	<span class="glyphicon glyphicon-remove sign-cross exit-sign" id="book-view-back"></span>

	<div class="dish-head">
		<img src="" alt="" id="book-img">
		<div id="book-name"></div>

		Залишилось:
		<span id="book-amount"></span>
		<br>

		Автори:
		<span id="book-writers"></span>
		<br>
		
		Жанри:
		<span id="book-genres"></span>
		<br>

		Опис:
		<span id="book-description"></span>
	</div>

	<div class="vintage-button book-view">
		<div class="inside">
    	<button class="vintage-link" id="book-view-add">Подати заявку</button>
      <img src="/favicons/left-corner.svg" alt="" class="right-deco">
     	<img src="/favicons/right-corner.svg" alt="" class="left-deco">
		</div>
  </div>	
</div>