<title>Eclib user</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link rel='stylesheet' href='/stylesheets/common.css' type='text/css'>
<link rel="stylesheet" href="/stylesheets/navigation.css">

<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCok2kYqVlgwE2D5oB-SwH02P_vAEs6vXc",
    authDomain: "tech-project-713a5.firebaseapp.com",
    databaseURL: "https://tech-project-713a5.firebaseio.com",
    projectId: "tech-project-713a5",
    storageBucket: "tech-project-713a5.appspot.com",
    messagingSenderId: "44726095220"
  };
  firebase.initializeApp(config);
  firebase.firestore().settings( { timestampsInSnapshots: true });
</script>