<nav class="top-nav-bar">
	<span class="mini-logo">Eclib</span>
	<ul class="nav-left">
		<li><a href="/books" class="nav-link">Книги</a></li>
		<li><a href="/writers" class="nav-link" id="nav-writers">Письменники</a></li>
	</ul>
	<ul class="nav-right">	
		<!--<li><a id="nav-user" href="/profile" class="nav-link">Мiй кабiнет</a></li>-->
		<li><a id="nav-exit" href="/exit" class="nav-link">Вихід</a></li>
	</ul>
</nav>