/* STYLE-RESET =====================*/

a:link,
a:visited,
a:hover,
a:active,
a:focus,
a
{
    text-decoration: none;

    outline: none;
}

ul,
ol
{
    list-style: none;
}

input,
button,
textarea,
select
{
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
p
{
    font-size: 1.5vw;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button
{
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input {
    border: 0;
}

ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input,
textarea
{
    margin: 0;
    padding: 0;
}


@font-face
{
    font-family: Poetica; /* Имя шрифта */

    src: url('/fonts/Poetica Serenada.ttf'); /* Путь к файлу со шрифтом */
}
@font-face
{
    font-family: Bethoven; /* Имя шрифта */

    src: url('/fonts/Ludvig van Bethoveen.ttf'); /* Путь к файлу со шрифтом */
}
@font-face
{
    font-family: Champion; /* Имя шрифта */

    src: url('/fonts/PFChampionScriptPro-Bold.otf'); /* Путь к файлу со шрифтом */
}
@font-face
{
    font-family: Mozart; /* Имя шрифта */

    src: url('/fonts/Wolfgang Amadeus Mozart.ttf'); /* Путь к файлу со шрифтом */
}

@font-face
{
    font-family: Langustine; /* Имя шрифта */

    src: url('/fonts/Langustine.ttf'); /* Путь к файлу со шрифтом */
}

body
{
    position: relative;
}

.wallpaper
{
    position: absolute;
    z-index: -10;

    width: 100%;
    height: 100%;

    opacity: .1;
    background: url('/favicons/menu-bg.jpg');
}

.index-content
{
    display: block;

    padding-top: 3vw;
}

.index-title
{
    font-family: Mozart;
    font-size: 7vw;
    font-weight: 600;

    display: block;

    margin-bottom: 1vw;
    padding: 2.5vw 0;

    text-align: center;
}

/* COMMON-ELEMENTS ================== */
.cmn-row
{
    width: 80%;
    margin: auto;
}

.cmn-head
{
    display: block;

    margin-bottom: 3vw;
    padding: 1vw;

    border-bottom: 0.1vw solid black;
}

.cmn-headline
{
    font-size: 3.2vw;

    display: block;

    margin-bottom: 1vw;

    color: #1c1c1cff;
}

.cmn-subtitle
{
    font-size: 1.6vw;

    display: block;

    color: gray;
}

.cmn-text
{
    font-size: 2vw;

    display: block;
}

.cmn-center
{
    text-align: center;
}

.cmn-no-tables
{
    font-size: 4vw;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.w45 {
    width: 45%;
}

.flex-wrapper
{
    display: flex;

    align-items: center;
    justify-content: center;
}

/* Items displaying like in products.ejs, stocks.ejs */
.cmn-category-block 
{
    margin: 2% 0;
}

.cmn-category-title
{
    font-size: 2vw;
}

.cmn-category-content
{
    position: relative;
}

.cmn-category-content-text
{
    display: block;

    width: 80%;
}

.cmn-category-content-text .cmn-subtitle
{
    font-size: 1.4vw;
}

.cmn-category-content:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

.cmn-category-content-buttons
{
    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);
}

.cmn-category-content .cmn-button, .cmn-category-content .cmn-delete-button
{
    font-size: 1.4vw;

    display: inline;

    padding: 0.5vw;
}

/* textarea */
.cmn-textarea
{
    font-size: 2vw;

    width: 100%;
    height: 15vw;
    padding: 10px 12px;

    resize: none;;
}

.cmn-textarea:hover
{
    box-shadow: inset 0 0 5px #00078;
}

.cmn-textarea:focus
{
    box-shadow: inset 0 0 5px blue;
}

/* dropdown */
.cmn-dropdown
{
    width: 26vw;
}

.select2-font-size
{
    font-size: 2vw;
}

.select2-selection
{
    font-size: 2vw;

    min-height: 50px;
}

.select2-selection__rendered
{
    line-height: 50px!important;
}

/* BUTTON ========================== */
.cmn-button
{
    /* INCLUDE THIS INSTEAD 7 LINES BELOW /// DO AFTER 08.10.18
    font-size: 1.5vw;

    position: relative;

    display: block;
    overflow: hidden;

    padding: 10px 12px;

*/
    font-size: 2vw;

    position: relative;

    display: block;
    overflow: hidden;

    width: 25%;
    height: 5vw;
    margin: 3% auto;

    cursor: pointer;
    -webkit-transition: all .4s ease-in-out, font-size 0s, height 0s, width 0s, border-radius 0s, padding 0s, bottom 0s;
        -moz-transition: all .4s ease-in-out, font-size 0s, height 0s, width 0s, border-radius 0s, padding 0s, bottom 0s;
            transition: all .4s ease-in-out, font-size 0s, height 0s, width 0s, border-radius 0s, padding 0s, bottom 0s;

    color: rgb(245,245,245);
    border: 0.2vw solid #0bce0c;
    border-radius: 4vw;
    background: #0bce0c;
}

.cmn-button:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 5px;
    height: 5px;

    content: '';
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;

    opacity: 0;
    border-radius: 100%;
    background: rgba(255, 255, 255, .35);
}

@keyframes ripple
{
    0%
    {
        transform: scale(0, 0);

        opacity: 1;
    }
    20%
    {
        transform: scale(55, 25);

        opacity: 1;
    }
    100%
    {
        transform: scale(100, 40);

        opacity: 0;
    }
}

.cmn-button:hover:not(:focus)
{
    color: #0bce0c;
    background: white;
}

a.cmn-button:focus
{
    color: #0bce0c;
    background: white;
}

button.cmn-button:focus:not(:active)::after
{
    animation: ripple 1s ease-out;
}

.cmn-delete-button
{
    font-size: 1.5vw;

    position: relative;

    display: block;
    overflow: hidden;

    padding: 1vw;

    cursor: pointer;
    -webkit-transition: all .4s ease-in-out, font-size 0s, height 0s, width 0s, border-radius 0s, padding 0s;
        -moz-transition: all .4s ease-in-out, font-size 0s, height 0s, width 0s, border-radius 0s, padding 0s;
            transition: all .4s ease-in-out, font-size 0s, height 0s, width 0s, border-radius 0s, padding 0s;

    color: rgb(245,245,245);
    color: #f00;
    border: 0.2vw solid #f00;
    border-radius: 4vw;
    background: white;
}

.cmn-delete-button:hover
{
    color: white;
    background: #f00;
}s

/* POPUP_MESSAGE ========================= */
.cmn-popup
{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 50%;

    padding: 1vw;

    transition: all .4s ease-in-out, background-color 0s, border-radius 0s, padding 0s;
    transform: translate(-50%, -25%);
    text-align: center;

    opacity: 0;
    border-radius: 2vw;
    background-color: #e5e5e5ff;
}

.cmn-popup > .cmn-text
{
    font-size: 1.1vw;

    color: #195fd6ff;
}

.cmn-ppp-error
{
    background-color: #ffbaba;
}

.cmn-ppp-error > .cmn-text
{
    color: #d8000c;
}

/* INPUT_FORM ========================= */
.cmn-input-group
{
    position: relative;

    width: 100%;
    margin: auto;
    margin-bottom: 3vw;
}

.cmn-input
{
    font-size: 2vw;

    display: block;

    width: 100%;
    padding: 1vw 1vw 1vw 0.5vw;

    border: none;
    border-bottom: 0.1vw solid #757575;
}

/* LABEL ======================================= */
.cmn-input-label
{
    font-size: 2vw;
    font-weight: normal;

    position: absolute;
    top: 1.2vw;
    left: 0.5vw;

    -webkit-transition: .2s ease all, font-size 0s, left 0s;
       -moz-transition: .2s ease all, font-size 0s, left 0s;
            transition: .2s ease all, font-size 0s, left 0s;
    pointer-events: none;

    color: #858585;
}

/* active state */
.cmn-input:focus ~ .cmn-input-label,
.cmn-input:valid ~ .cmn-input-label,
[type='date']:invalid ~ .cmn-input-label
{
    font-size: 1.3vw;

    top: -1.2vw;

    color: #5264ae;
}

/* BOTTOM BARS ================================= */
.cmn-input-highlight
{
    position: relative;

    display: block;

    width: 100%;
}

.cmn-input-highlight:before,
.cmn-input-highlight:after
{
    position: absolute;
    bottom: 0.1vw;

    width: 0;
    height: 0.15vw;

    content: '';
    -webkit-transition: .2s ease all;
       -moz-transition: .2s ease all;
            transition: .2s ease all;

    background: #5264ae;
}

.cmn-input-highlight:before
{
    left: 50%;
}

.cmn-input-highlight:after
{
    right: 50%;
}

/* active state */
.cmn-input:focus ~ .cmn-input-highlight:before,
.cmn-input:focus ~ .cmn-input-highlight:after
{
    width: 50%;
}

/* Navigation */
.nav-bar
{
    font-size: 1.3vw!important;
    line-height: 4vw!important;

    height: 4vw!important;
    padding: 0!important;
}

.nav-bar a
{
    margin: .8vw!important;
}

/* Extra */
.black
{
    position: fixed;
    z-index: +2;
    top: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .5;
    background: black;
}

.left
{
    width: 50%;
    margin: auto;
    margin-left: 0;
}

.right
{
    width: 50%;
    margin: auto;
    margin-right: 0;
    margin-left: 2%;
}